@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>
        <img src="~/icon.jpg">
        Welcome to IdentityServer4
        <small class="text-muted">(version @version)</small>
    </h1>

    <ul>
        <li>
           Get weather information: <a id="weather-button" class="btn btn-success text-white">Click me!</a>
        </li>
         <li>
           Get QR Code To Login/Register: Enter username: <input name="username" id="username"  type="text" class="form-control"/> 
           <a class="btn btn-success text-white qr-button" data-action-type="r">Register!</a>
           <a class="btn btn-success text-white qr-button" data-action-type="l">Login!</a>
        </li>
    </ul>
    <div id="qrcode"></div>
</div>